.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}

.auth-box button {
  width: 100%;
  background: var(--primary);
  color: white;
  padding: 12px;
  border-radius: 10px;
}
