.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.price {
  font-weight: 700;
  margin: 10px 0;
}

.product-card button {
  background: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.product-card button:hover {
  background: var(--secondary);
}
